### (1) 유동인구가 많은 버스정류장을 알아보기

1. 버스 승하차 (버스 승차, 하차 del) / 큰 곳의 정류장은 어디인지 / 
버스코드/ 경도/ 위도는 무엇인지 등 추가 및 출력. 
2. 정류장 이름별로 버스코드 / 경도(longitude) / 위도(latitude) 묶기 
3. 정류장을 중심으로 QGIS로 경도/위도 나타난 곳 mapping하기

In [1]:
import pandas as pd

In [3]:
bus_station_csv = pd.read_csv("C:/Users/ASIA_12/00 slee/SBJ_2007_001/Goyang_bus_station.csv")

In [11]:
bus_station_csv.head(5)

    STATION_NM  STATION_ID           X          Y
0   신일비즈니스고등학교   219000619  126.760592  37.683296
1      중앙공원삼거리   219000587  126.776989  37.688934
2  문촌마을14.19단지   219000624  126.752451  37.671011
3  문촌마을14.19단지   219000623  126.752452  37.671448
4      중앙공원삼거리   219000586  126.777412  37.688771

In [15]:
bus_station_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2232 entries, 0 to 2231
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_NM  2232 non-null   object
 1   STATION_ID  2232 non-null   int64
 2   X           2232 non-null   float64
 3   Y           2232 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 69.9+ KB

In [17]:
bus_station_csv.isnull().sum()

STATION_NM    0
STATION_ID    0
X             0
Y             0
dtype: int64

In [20]:
bus_station_csv.describe()

         STATION_ID            X            Y
count  2.232000e+03  2232.000000  2232.000000
mean   2.185185e+08   126.820080    37.667143
std    1.006867e+06     0.054434     0.033389
min    2.180000e+08   126.679997    37.580977
25%    2.180007e+08   126.778267    37.644795
50%    2.180013e+08   126.825338    37.668503
75%    2.190006e+08   126.861659    37.692848
max    2.415011e+08   126.962809    37.747089

In [22]:
bus_station_csv.shape

(2232, 4)

In [5]:
#복사본(백업 생성)
bus_station_csv2 = bus_station_csv

In [6]:
in_out_csv = pd.read_csv("C:/Users/ASIA_12/00 slee/SBJ_2007_001/Bus_in_out.csv")

In [16]:
in_out_csv.head(5)

   STATION_ID STATION_NM  GETON_CNT
0   218001046     화정역3호선     229091
1   218001083        원당역     219186
2   218000974     화정역3호선     197084
3   219000193        대화역     191696
4   219000193        대화역     169990

In [13]:
in_out_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2888 entries, 0 to 2887
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_ID  2888 non-null   int64
 1   STATION_NM  2888 non-null   object
 2   GETON_CNT   2888 non-null   int64
dtypes: int64(2), object(1)
memory usage: 67.8+ KB

In [18]:
bus_station_csv.isnull().sum()

STATION_NM    0
STATION_ID    0
X             0
Y             0
dtype: int64

In [21]:
bus_station_csv.describe()

         STATION_ID            X            Y
count  2.232000e+03  2232.000000  2232.000000
mean   2.185185e+08   126.820080    37.667143
std    1.006867e+06     0.054434     0.033389
min    2.180000e+08   126.679997    37.580977
25%    2.180007e+08   126.778267    37.644795
50%    2.180013e+08   126.825338    37.668503
75%    2.190006e+08   126.861659    37.692848
max    2.415011e+08   126.962809    37.747089

In [23]:
bus_station_csv.shape

(2232, 4)

In [ ]:
#Groupby 사용해 Station_ID를 기준으로 데이터 정렬
#데이터베이스로 보면 Station_ID가 필드명이 됨

In [28]:
bus_station_csv2 = bus_station_csv.groupby("STATION_ID")
bus_station_csv2

In [121]:
bus_popu = in_out_csv.merge(bus_station_csv, on = ["STATION_ID", "STATION_NM"], how = "outer")
bus_popu
#how = outer하면 중복 여부와 상관없이 값 모두 출력
#how = inner하면 중복된 데이터의 행만 촐력

      STATION_ID       STATION_NM  GETON_CNT           X          Y
0      218001046           화정역3호선   229091.0  126.832410  37.635347
1      218001083              원당역   219186.0  126.843885  37.653079
2      218000974           화정역3호선   197084.0  126.832827  37.634486
3      218000974           화정역3호선     5335.0  126.832827  37.634486
4      219000193              대화역   191696.0  126.747539  37.676390
...          ...              ...        ...         ...        ...
3034   219000417        대화마을8.9단지        NaN  126.733571  37.668437
3035   219001016           독굴말골입구        NaN  126.832222  37.712959
3036   219000439             장월목장        NaN  126.687714  37.682816
3037   219000766  더샵그라비스타.힐스테이트일산        NaN  126.747083  37.663885
3038   218001017             삼성캐슬        NaN  126.853469  37.714727

[3039 rows x 5 columns]

#### STATION_NM을 기준으로 나머지 데이터들을 보여주기

In [159]:
bus_popu_groupby = bus_popu.groupby(["STATION_NM", "STATION_ID", "GETON_CNT"])
bus_popu_groupby

In [160]:
bus_popu2 = bus_popu_groupby.sum()
bus_popu2

                                          X          Y
STATION_NM STATION_ID GETON_CNT
(구)효자동주민센터 218000258  149.0      126.919747  37.652634
                      195.0      126.919747  37.652634
           218000265  19.0       126.919892  37.652603
                      27.0       126.919892  37.652603
16단지.삼송초교  218001182  9686.0     126.882791  37.653627
...                                     ...        ...
흰돌마을(중)    219000453  6900.0     126.781373  37.648172
                      7817.0     126.781373  37.648172
흰돌마을.서안아파트 219000161  934.0      126.785637  37.641313
                      10467.0    126.785637  37.641313
힐스테이트일산    219000585  22.0       126.745650  37.666309

[2888 rows x 2 columns]

In [162]:
bus_popu3 = bus_popu2

In [174]:
bus_popu4 = bus_popu3.reset_index() # groupby했던 칼럼들을 다시 풀어준다
bus_popu4

      STATION_NM  STATION_ID  GETON_CNT           X          Y
0     (구)효자동주민센터   218000258      149.0  126.919747  37.652634
1     (구)효자동주민센터   218000258      195.0  126.919747  37.652634
2     (구)효자동주민센터   218000265       19.0  126.919892  37.652603
3     (구)효자동주민센터   218000265       27.0  126.919892  37.652603
4      16단지.삼송초교   218001182     9686.0  126.882791  37.653627
...          ...         ...        ...         ...        ...
2883     흰돌마을(중)   219000453     6900.0  126.781373  37.648172
2884     흰돌마을(중)   219000453     7817.0  126.781373  37.648172
2885  흰돌마을.서안아파트   219000161      934.0  126.785637  37.641313
2886  흰돌마을.서안아파트   219000161    10467.0  126.785637  37.641313
2887     힐스테이트일산   219000585       22.0  126.745650  37.666309

[2888 rows x 5 columns]

#### STATION_NM별로 나온 GETON_CNT의 부분합을 구하기 위해 'Total'이라는 Column 추가

In [223]:
#bus_popu4['Total'] = bus_popu4.groupby('STATION_NM')['GETON_CNT'].sum() 
#bus_popu4
bus_popu4['GETON_Subtotal'] = bus_popu4.groupby('STATION_NM')['GETON_CNT'].sum() 
bus_popu4

            STATION_ID  GETON_CNT           X          Y    Total
STATION_NM
(구)효자동주민센터   218000258      149.0  126.919747  37.652634    390.0
(구)효자동주민센터   218000258      195.0  126.919747  37.652634    390.0
(구)효자동주민센터   218000265       19.0  126.919892  37.652603    390.0
(구)효자동주민센터   218000265       27.0  126.919892  37.652603    390.0
16단지.삼송초교    218001182     9686.0  126.882791  37.653627  10812.0
...                ...        ...         ...        ...      ...
흰돌마을(중)      219000453     6900.0  126.781373  37.648172  14717.0
흰돌마을(중)      219000453     7817.0  126.781373  37.648172  14717.0
흰돌마을.서안아파트   219000161      934.0  126.785637  37.641313  11401.0
흰돌마을.서안아파트   219000161    10467.0  126.785637  37.641313  11401.0
힐스테이트일산      219000585       22.0  126.745650  37.666309     22.0

[2888 rows x 5 columns]

In [244]:
bus_popu4['GETON_Subtotal'] = bus_popu4.groupby('STATION_NM')['GETON_CNT'].sum() 
bus_popu4
#bus_popu4.drop(columns=['Total'])

            STATION_ID  GETON_CNT           X          Y  GETON_Subtotal
STATION_NM
(구)효자동주민센터   218000258      149.0  126.919747  37.652634           390.0
(구)효자동주민센터   218000258      195.0  126.919747  37.652634           390.0
(구)효자동주민센터   218000265       19.0  126.919892  37.652603           390.0
(구)효자동주민센터   218000265       27.0  126.919892  37.652603           390.0
16단지.삼송초교    218001182     9686.0  126.882791  37.653627         10812.0
...                ...        ...         ...        ...             ...
흰돌마을(중)      219000453     6900.0  126.781373  37.648172         14717.0
흰돌마을(중)      219000453     7817.0  126.781373  37.648172         14717.0
흰돌마을.서안아파트   219000161      934.0  126.785637  37.641313         11401.0
흰돌마을.서안아파트   219000161    10467.0  126.785637  37.641313         11401.0
힐스테이트일산      219000585       22.0  126.745650  37.666309            22.0

[2888 rows x 5 columns]

In [245]:
bus_popu4 = bus_popu4[['STATION_ID', 'GETON_CNT', 'GETON_Subtotal', 'X', 'Y']]

#### 유동인구 많은 버스정류장만 출력(내림차순 정렬한 첫 60개 추출)

In [250]:
bus_popu4.head(60)

,STATION_ID,GETON_CNT,GETON_Subtotal,X,Y
STATION_NM,,,,,
(구)효자동주민센터,218000258,149.0,390.0,126.919747,37.652634
(구)효자동주민센터,218000258,195.0,390.0,126.919747,37.652634
(구)효자동주민센터,218000265,19.0,390.0,126.919892,37.652603
(구)효자동주민센터,218000265,27.0,390.0,126.919892,37.652603
16단지.삼송초교,218001182,9686.0,10812.0,126.882791,37.653627
16단지.삼송초교,218001187,1126.0,10812.0,126.883295,37.653999
1군단앞,218000498,2.0,342.0,126.911514,37.716309
1군단앞,218000498,19.0,342.0,126.911514,37.716309
1군단앞,218000500,29.0,342.0,126.912488,37.717179
1군단앞,218000500,292.0,342.0,126.912488,37.717179
2단지관리사무실앞,218000743,303.0,303.0,126.836772,37.646522
2단지라이프아파트앞,218000932,24.0,14400.0,126.837170,37.645662
2단지라이프아파트앞,218001009,14376.0,14400.0,126.837020,37.645986
5단지관리사무실앞,218000740,7119.0,7269.0,126.836483,37.642546
5단지관리사무실앞,218001010,150.0,7269.0,126.836593,37.642462
5단지미도파아파트앞,218000763,844.0,1309.0,126.833761,37.641523
5단지미도파아파트앞,218001021,465.0,1309.0,126.833926,37.641431
5단지삼성.삼익아파트앞,218000739,30.0,5985.0,126.837046,37.643398
5단지삼성.삼익아파트앞,218000741,5955.0,5985.0,126.836920,37.643217
5단지엘지.신성아파트앞,218000997,4687.0,4746.0,126.834960,37.642152
5단지엘지.신성아파트앞,218001076,59.0,4746.0,126.834966,37.641922
DMC리슈빌.DMC호반2.3단지,218001355,3102.0,14856.0,126.888394,37.594018
DMC리슈빌.DMC호반2.3단지,218001356,11754.0,14856.0,126.888592,37.594176
DMC해링턴플레이스,218001361,11929.0,16325.0,126.894503,37.607109
DMC해링턴플레이스,218001362,4396.0,16325.0,126.895066,37.607060
GIFC타워,219001175,4299.0,4299.0,126.748959,37.665869
GS자이아파트정문,219000877,1797.0,1991.0,126.729784,37.670270
GS자이아파트정문,219000952,194.0,1991.0,126.729798,37.670700
GS자이아파트후문,219000876,36.0,8392.0,126.729515,37.669257
GS자이아파트후문,219000951,8356.0,8392.0,126.729638,37.669503
LG물류센터,218000809,7.0,93.0,126.891150,37.709176
LG물류센터,218000809,66.0,93.0,126.891150,37.709176
LG물류센터,218000810,4.0,93.0,126.891034,37.709142
LG물류센터,218000810,16.0,93.0,126.891034,37.709142
LH고양사업본부,218001171,1.0,7.0,0.000000,0.000000
LH고양사업본부,218001172,6.0,7.0,0.000000,0.000000
SBS전원마을,229002872,13.0,48.0,0.000000,0.000000
SBS전원마을,229002872,35.0,48.0,0.000000,0.000000
SK엠시티,219000765,282.0,282.0,126.770289,37.653883
SK주유소,219000960,583.0,677.0,126.783153,37.634702
SK주유소,219000961,94.0,677.0,126.783012,37.634707
mbc송출국,218001141,3.0,32.0,126.800851,37.622504
mbc송출국,218001142,29.0,32.0,126.800781,37.622460
가덕교,219001127,16.0,1151.0,126.728663,37.686620
가덕교,219001128,1135.0,1151.0,126.728265,37.686416
가라뫼,218000330,4977.0,11416.0,126.843376,37.619063
가라뫼,218000330,6439.0,11416.0,126.843376,37.619063
가라뫼.소만마을1단지,218000146,818.0,1952.0,126.845149,37.618141
가라뫼.소만마을1단지,218000146,1134.0,1952.0,126.845149,37.618141
가라뫼.한전앞,218000087,1881.0,15704.0,126.842761,37.618284
가라뫼.한전앞,218000087,13823.0,15704.0,126.842761,37.618284
가라뫼사거리,218001071,8599.0,16058.0,126.844311,37.619005
가라뫼사거리,218001153,7459.0,16058.0,126.844632,37.619030
가람중학교,218000967,337.0,337.0,126.841664,37.622881
가로수길,219000747,1497.0,1497.0,126.755848,37.666819
가시골,218000270,5051.0,6927.0,126.867176,37.648844
가시골,218000279,1876.0,6927.0,126.867208,37.648595
가장동,218000026,982.0,24269.0,126.857531,37.705229
가장동,218000026,3750.0,24269.0,126.857531,37.705229
가장동,218000161,5794.0,24269.0,126.857117,37.705652

In [247]:
# bus_popu4 = bus_popu3.sort_values(["GETON_CNT"], ascending=False)
# bus_popu4

In [248]:
# bus_popu5 = bus_popu4.reset_index() # groupby했던 칼럼들을 다시 풀어준다
# bus_popu5

In [138]:
# bus_popu3.drop(bus_popu3[bus_popu3["GETON_CNT"]== 0 ].index, inplace = True)
# bus_popu3

#### QGIS에 데이터 사용하기 위해 데이터프레임을 csv파일로 변환

In [249]:
bus_popu4.to_csv(r'C:/Users/ASIA_12/00 slee/SBJ_2007_001/전처리_버스/bus_popu.csv')